<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>行を編集</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  </head>
  <body>
    <h2>
      <a href="https://htmx.org/examples/edit-row/" target="_blank">
        行を編集
      </a>
    </h2>
    <div>
      この例では、編集可能な行を実装する方法を示します。まず、テーブル本体を見てみましょう。
    </div>
    <code>
      <pre style="background: black; color: white">

    &lt;table class="table delete-row-example"&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Email&lt;/th&gt;
            &lt;th&gt;&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody hx-target="closest tr" hx-swap="outerHTML"&gt;
          ...
        &lt;/tbody&gt;
      &lt;/table&gt;

      </pre>
    </code>

    <div>
      これにより、テーブル内からのリクエストは、リクエストがトリガーされる最も近い囲み行をターゲットにして、行全体を置き換えるように指示されます。<br /><br />
      行の HTML は次のとおりです。
    </div>

    <code>
      <pre style="background: black; color: white">
  
    &lt;tr&gt;
        &lt;td&gt;${contact.name}&lt;/td&gt;
        &lt;td&gt;${contact.email}&lt;/td&gt;
        &lt;td&gt;
            &lt;button class="btn danger"
                    hx-get="/contact/${contact.id}/edit"
                    hx-trigger="edit"
                    onClick="let editing = document.querySelector('.editing')
                            if(editing) {
                                Swal.fire({title: 'Already Editing',
                                        showCancelButton: true,
                                        confirmButtonText: 'Yep, Edit This Row!',
                                        text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                                .then((result) => {
                                    if(result.isConfirmed) {
                                        htmx.trigger(editing, 'cancel')
                                        htmx.trigger(this, 'edit')
                                    }
                                })
                            } else {
                                htmx.trigger(this, 'edit')
                            }">
            Edit
            &lt;/button&gt;
        &lt;/td&gt;
        &lt;/tr&gt;
  
      </pre>
    </code>

    <div>
      行をスワップ/削除する前にフェードアウトします。<br />
      <br />
      各行には、 サーバーから行を削除する要求をhx-delete発行するための URL
      を含む属性を持つボタンがあります。この要求は、行を何も置き換えないことを示すステータス
      コードと空のコンテンツで応答します。DELETE200
    </div>

    <code>
      <pre style="background: black; color: white">

    &lt;tr&gt;
      &lt;td&gt;Angie MacDowell&lt;/td&gt;
      &lt;td&gt;angie@macdowell.org&lt;/td&gt;
      &lt;td&gt;Active&lt;/td&gt;
      &lt;td&gt;
        &lt;button class="btn danger" hx-delete="/contact/1"&gt;
          Delete
        &lt;/button&gt;
      &lt;/td&gt;
    &lt;/tr&gt;
    
      </pre>
    </code>

    <div>
      ここでは少し凝ったことをして、JavaScript を使用して一度に 1
      行のみ編集できるようにしています。クラスが設定されている行があるかどうかを確認し.editing、ユーザーがこの行を編集して他の行を閉じようとしていることを確認します。そうであれば、他の行にキャンセル
      イベントを送信して、初期状態に戻る要求を発行します。<br />
      <br />
      次に、edit現在の要素でイベントをトリガーし、行の編集可能なバージョンを取得するための
      htmx リクエストをトリガーします。<br />
      <br />
      ユーザーが複数の行を編集しているかどうかを気にしない場合は、ハイパースクリプトとカスタムを省略しhx-trigger、通常のクリック処理を
      htmx で実行できます。また、[編集]
      ボタンがクリックされたときにテーブル全体をターゲットにするだけで、相互排他性を実装することもできます。ここでは、htmx
      と JavaScript
      を統合して問題を解決し、サーバーのやり取りを少し絞り込む方法を示しました。さらに、優れた
      SweetAlert 確認ダイアログを使用できるようになりました。<br />
      <br />
      最後に、データが編集されているときの行は次のようになります。
    </div>

    <code>
      <pre style="background: black; color: white">
    
      &lt;tr hx-trigger='cancel' class='editing' hx-get="/contact/${contact.id}"&gt;
        &lt;td&gt;&lt;input name='name' value='${contact.name}'&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input name='email' value='${contact.email}'&gt;&lt;/td&gt;
        &lt;td&gt;
          &lt;button class="btn danger" hx-get="/contact/${contact.id}"&gt;
            Cancel
          &lt;/button&gt;
          &lt;button class="btn danger" hx-put="/contact/${contact.id}" hx-include="closest tr"&gt;
            Save
          &lt;/button&gt;
        &lt;/td&gt;
      &lt;/tr&gt;      
    
        </pre
      >
    </code>

    <div>
      ここでは、いくつかのことが行われています。<br />
      まず、行自体が
      イベントに応答しcancel、行の読み取り専用バージョンが戻されます。<br />
      現在の編集をキャンセルできるキャンセル ボタンがあります。<br />
      最後に、PUT連絡先を更新するために を発行する保存ボタンがあります。<br />
      最も近い行のすべての入力を含む があることに注意してください。<br />
      テーブルの行は、HTML の制約 ( を直接 内にhx-include置くことはできません)
      によりフォームで使用するのが難しいことで有名ですが、これにより、扱いが少し楽になります。formtr
    </div>
  </body>
</html>
